<div class="actions-q">
    <h3>{% get ('title') %}</h3>
    <div class="rubrique {% get('type') %}" style="background-image: url({% get('thumbnail') %})">
        <a href="{% get('url') %}" title="{% get('title') %}">
            <span class="title nodisp">{% get('title') %}</span>
        </a>
    </div>
    <div class="description">
        <p>{% get('description') %}</p>
    </div>
    <p class="more"><a href="{% get('url') %}" title="{% get('title') %}">+ d'infos</a></p>
</div>
