<div class="rubrique {% get('type') %}" style="background-image: url({% get('thumbnail') %})">
    <a href="{% get('url') %}" title="{% get('title') %}">
        <span class="title">{% get('title') %}</span>
    </a>
</div>
<p class="more"><a href="{% get('url') %}" title="{% get('title') %}">+ d'infos</a></p>
