{%%

title = meta['site_title']
if 'title' in meta:
    title += ' - ' + meta['title']
else:
    title += ' - ' + current_page

description = meta['description'] if 'description' in meta else meta['site_description'] if 'site_description' in meta else ''

%%}
<!DOCTYPE html>
<html lang="{% meta['lang'] %}">
<head>
    <meta charset="utf-8"/>
    <title>{% title %}</title>
    <meta name="description" content="{% description %}" />
    <link rel="stylesheet" href='css/styles.css' type="text/css" />
</head>
<body>
