/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.show p {
  text-indent: 1em;
  font-size: 1.05em;
  text-align: justify;
}
.show p.incipit{
  font-size: 1.5em;
}


:root {
    --accent: rgb(84, 43, 222);
    --gap: 1em;

    --text-color: rgba(0, 0, 0, 0.75);
    --header-color: rgba(0, 0, 0, 1.0);
    --fade-color: rgba(0, 0, 0, 0.40);
    --border-radius: 3px;
}





body {
    padding-left: calc(var(--gap) * 2);
    padding-right: var(--gap);
    padding-bottom: var(--gap);
    width: 800px;
    max-width: 100%;

    font-size: 12px;
    font-family: sans;
    line-height: 1.5;
    color: var(--text-color);
}


ul, p, hr,
.media, .grid, .iframe, .rubrique
h1, h2, h3, h4, h5 {
    margin-bottom: var(--gap);
}

a {
    color: var(--accent);
    text-decoration: none;
}

ul.flat {
    list-style: none;
    padding:0;
}

.hidden {
    display: none;
}

h1, h2, h3 {
    font-size: inherit;
    font-family: monospace;;
    color: var(--header-color);
}

h1, h2, h3, strong, b {
    opacity: 0.8;
}


header {
    margin-top: var(--gap);
    margin-bottom: var(--gap);
    font-size: 14px;
    font-family: monospace;
    color: var(--header-color);
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav li a {
    display: block;
    color: inherit;
    text-transform: lowercase;
    text-decoration: none;
    padding: 10px 20px 6px;
}
nav li {
    border-bottom: 1px solid;
    color: var(--fade-color);
}
nav .on {
    color: var(--header-color);
    border-width: 2px;
    /* border-bottom-style: double; */
    /* color: var(--accent) */
}
nav li:first-child a {
    padding-left: 0
}
nav .filler {
    flex: 1;
}
nav a[href="club-plagiat.html"] {
    color: #dc0ea8;
    position: relative;
    margin-left:5px;
    margin-right:5px;
}
nav a[href="club-plagiat.html"]:before {
    content:"☞";
    font-size: 24px;
    position: absolute;
    left: 0px;
    top: -4px;
    transform: rotate(30deg)
}
nav a[href="club-plagiat.html"]:after {
    content:"☜";
    font-size: 24px;
    position: absolute;
    right: 0px;
    top: -4px;
    transform: rotate(-30deg)

}


hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
/*
    height: 20px;
    background: repeating-linear-gradient(
      135deg,
      rgba(0,0,0,0),
      rgba(0,0,0,0) 10px,
      rgba(0,0,0,.2) 10px,
      rgba(0,0,0,.2) 20px
    );
    background-size: 758px;
    background-repeat: no-repeat; */
}


.media, .rubrique {
    --video-height: 80px;
    --video-width: 200px;
    height: var(--video-height);
    position: relative;
    background-size: var(--video-width) auto;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: var(--border-radius);
    overflow: hidden;
    /* box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3); */
}
.media a, .rubrique a {
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    display: block;
    color: white;
}
.media span, .rubrique span {
    position: absolute;
    left: var(--video-width);
    top:0;
    bottom:0;
    right:0;
    line-height: var(--video-height);
    padding: 0 20px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgba(255,255,255,0.2);
    background: linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0.33));
}

.rubrique span.nodisp {
    display: none;
}

.actions-q {
    float: left;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    border-radius: 3px;
}

.actions-q .rubrique {
    background-position: center center;
    border-radius: 3px 3px 0 0px;
}

.actions-q h3 {
    margin-bottom: 2px;
}

.actions-q .description {
    margin: 0;
    background: black;
    border-radius: 0 0 3px 3px;
}

.actions-q .description p {
    margin: 0;
    color: white;
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0.33));
}


.media::before, .media:after {
    content:"";
    border-left:30px solid white;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    position: absolute;
    top: 50%;
    left: calc(var(--video-width) / 2);
    margin-top: -15px;
    margin-left: -15px;
    opacity: 0.95;
    z-index: 1;
    pointer-events: none;
}
.media:before {
    border-left-color:black;
    opacity: 0.5;
    transform: translate(5px, 5px);
    z-index: 0;
}

.more {
  text-align: right;
  font-style: italic;
}

.more::after {
  content: '→';
}

.iframe {
    display: block;
    padding-bottom: 50%;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    background: black;
}
.iframe iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}





.slideshow {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.slideshow .item {
    position: fixed;
    top: 0; left: 0;
    right: 0; bottom: 0;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 99;
    flex-direction: column;
    flex-wrap: wrap;
}

.slideshow .item img {
    display: block;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    image-rendering: -webkit-optimize-contrast;

}

.slideshow .close,
.slideshow .next,
.slideshow .prev {
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    height: 48px;
    display: block;
    line-height: 48px;
    text-decoration: none;
    color: white;
    text-align: center;
    z-index: 3;
    padding: 0;
}


.slideshow .close {
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 100;
    width: 70px;
    background: black;
    font-family: monospace;
}

.slideshow .next,
.slideshow .prev {
    top: 50%;
    margin-top: -320px;
    height: 600px;
    line-height: 600px;
    width: 30%;
    padding: 0 40px;
    font-size: 50px;
    color: black;

}

.slideshow .next:before,
.slideshow .prev:before {
    position: absolute;
    margin-top:-7px;
    color: white;

}

.slideshow .prev {
    left: 0px;
    text-align: left;
}
.slideshow .prev:before {
    content: "<"
}

.slideshow .next {
    width: 70%;
    right: 0px;
    text-align: right;
}
.slideshow .next:before {
    content: ">"
}

.slideshow .item,
.slideshow .close {
    display: none;
}
.slideshow .item:first-of-type .prev,
.slideshow .item:last-of-type .next {
    display: none;
}
.slideshow .item:first-child .next {
    width: 100%
}

.slideshow .item:target {
    display: flex;
    pointer-events: auto;
}
.slideshow .item:target  ~ .close {
    display: block;
}
.slideshow .item:target + .item,
.item:first-child:not(:target) {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.loader {
  font-size: 10px;
  position: absolute;
  text-indent: -9999em;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid #000000;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 1;

}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* CLUB plagiat */
.club-sandwish {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.club-loser {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: teal;
    flex-shrink: 0;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    /* font-weight: bold; */
    color: white;
}
.club-content {
    margin-top:4px;
    margin-left: 8px;
    padding:8px 10px;
    border-radius: 20px;
    border-top-left-radius: 0;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3)
}

.club-content p:last-child {
    margin:0;
}

.club-content img {
    border-radius: 20px;
    margin:0;
    display: block;
}


.club-content.image {
    padding: 0;
}
.club-content.image p {
    margin:0;
}
.club-content.image br {
    display: none;
}

.club-content.image img {
    border-radius: 20px;
    border-top-left-radius: 0;
}

.titraille{
    text-align: center;
    font-family: serif;
    font-size: 2em;

    margin-bottom: 0;
}

.creation-2023{
    text-align: center;
    font-style: italic;
    font-family: serif;
}

blockquote {
	position: relative;
	margin: 40px 0;
	padding: 2.2em 2.4em .7em calc(9% + var(--quote-image-width));
	font: italic 0.7rem var(--type-quote);
	background: var(--quote-bg) no-repeat left / var(--quote-image-width);
	border-radius: var(--border-rad);
	border: 2px solid white;
	box-shadow: 2px 2px 4px hsl(0 0% 0% / 20%);
	text-indent: 1.6em;

  font-family: serif;
}

blockquote p {
  text-indent: 1.6em;
}

blockquote::before {
	content: "";
	pointer-events: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--border-rad);
	box-shadow:
		inset -2px -2px 1px hsl(0 0% 100%),
		inset 2px 2px 4px hsl(0 0% 0% / 20%);
  box-sizing: border-box;
}

blockquote::after {
	content: "❝";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: -2px;
	transform: translate(-50%, -50%);
	width: 1.3em;
	height: 1.3em;
	background: white;
	box-shadow: 0 4px 5px -1px hsla(0 0% 0% / 20%);
	border-radius: 999px;
	display: grid;
	place-content: center;
	padding-top: .5em;
	color: var(--accent-color);
	font-size: 36px;
	font-style: normal;
	text-indent: 0;
  box-sizing: border-box;
}

cite {
	display: block;
	margin-top: 10px;
	text-indent: 0;
	text-align: center;
	font: bold .9rem var(--type-body);
	text-transform: uppercase;
	color: hsl(0 0% 20%);
}

blockquote img {
	position: absolute;
	left: 0;
	top: 0;
  width: auto;
	height: 100%;
	opacity: 0.85;
	background: var(--accent-color) var(--image) no-repeat center / cover;
	background-blend-mode: hard-light;
	border-top-left-radius: var(--border-rad);
	border-bottom-left-radius: var(--border-rad);
}

@media (min-width: 768px) {
	blockquote, .photos {
		margin: 20px 30px;
	}
}


@media (min-width: 768px) {
	cite {
		margin-left: calc(1rem - var(--quote-image-width));
	}
}

:root {
	--type-body: Open Sans, Helvetica, Arial, sans-serif;
	--type-quote: Vollkorn;
	--quote-image-width: 140px;
	--border-rad: 7px;
	--accent-color: #c59c6c;
	--quote-bg: hsl(0 0% 97%);
}

.photos{
  position: relative;

  text-align: center;
  padding-top: 2.2em;


  background: hsl(0 0% 97%);
	border-radius: var(--border-rad);
	border: 2px solid white;
	box-shadow: 2px 2px 4px hsl(0 0% 0% / 20%);

  font-family: serif;
}

.photos::before {
	content: "";
	pointer-events: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--border-rad);
	box-shadow:
		inset -2px -2px 1px hsl(0 0% 100%),
		inset 2px 2px 4px hsl(0 0% 0% / 20%);
  box-sizing: border-box;
}

.photos::after {
	content: "❝";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: -2px;
	transform: translate(-50%, -50%);
	width: 1.3em;
	height: 1.3em;
	background: white;
	box-shadow: 0 4px 5px -1px hsla(0 0% 0% / 20%);
	border-radius: 999px;
	display: grid;
	place-content: center;
	padding-top: .5em;
	color: var(--accent-color);
	font-size: 36px;
	font-style: normal;
	text-indent: 0;
  box-sizing: border-box;
}

.photos img{
  display: inline;
  margin: 5px;
  width: 300px;
  box-shadow: 0 10px 11px -1px hsla(0 0% 0% / 20%);

  background: var(--accent-color) var(--image) no-repeat center / cover;
	background-blend-mode: hard-light;
}

.portrait img{
  width: 200px;
}
